<template>
	<nav>
		<span
			v-for="route in router.getRoutes()"
			:key="route.name"
		>
			<router-link :to="route.path">{{ route.name }}</router-link>
			{{ route.name === 'ViewSearch' ? '' : ' | ' }}
		</span>
	</nav>
</template>

<script setup lang="ts">
	import router from '@/router/index';
</script>

<style scoped lang="scss"></style>
