<template>
	<div class="view-login">
		<h1>view-loginComponent</h1>
	</div>
</template>
<script lang="ts">
	import Vue from 'vue';
	import Component from 'vue-class-component';

	@Component({})
	export default class ViewLogin extends Vue {
		mounted() {
			console.log('hello from ViewLogin');
		}
	}
</script>

<style scoped lang="scss"></style>
