<template>
	<div class="view-search">
		<h1>view-searchComponent</h1>
	</div>
</template>
<script lang="ts">
	import Vue from 'vue';
	import Component from 'vue-class-component';

	@Component({})
	export default class ViewSearch extends Vue {
		mounted() {
			console.log('hello from ViewSearch');
		}
	}
</script>

<style scoped lang="scss">
	.view-search {
	}
</style>
