<template>
	<div class="view-product">
		<h1>view-productComponent</h1>
	</div>
</template>
<script lang="ts">
	import Vue from 'vue';
	import Component from 'vue-class-component';

	@Component({})
	export default class ViewProduct extends Vue {
		mounted() {
			console.log('hello from ViewProduct');
		}
	}
</script>

<style scoped lang="scss">
	.view-product {
	}
</style>
