<template>
	<div id="app">
		<SharedNavbar />
		<hr />
		<SharedButton @click.native="increment">Increment</SharedButton>
		{{ count }}
		<hr />
		<SharedButton @click.native="notify">Notification</SharedButton>
		{{ notification }}
		<hr />
		<SharedButton @click.native="importProducts">Products</SharedButton>
		<ul
			v-for="product in products"
			:key="product.id"
		>
			<li>{{ product.title }}</li>
		</ul>
		<hr />
		<router-view />
	</div>
</template>

<script setup lang="ts">
	import { computed } from 'vue';
	import { Actions, Notification } from './core/store';
	import store from '@/core/store/index';

	//Click.native permet de simuler un click sur le premier element html du composant
	function increment() {
		store.dispatch(Actions.INCREMENT);
	}

	function notify() {
		const notification: Notification = {
			message: Math.random().toString(),
			delay: 1000,
			duration: 1000
		};
		store.dispatch(Actions.APP_NOTIFY, notification);
	}

	function importProducts() {
		store.dispatch(Actions.PRODUCTS_REQUEST);
	}

	const count = computed(() => store.state.count);

	const notification = computed(() => store.state.notifications);

	const products = computed(() => store.state.products);
</script>

<style>
	#app {
		font-family: Avenir, Helvetica, Arial, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-align: center;
		color: #2c3e50;
	}

	nav {
		padding: 30px;
	}

	nav a {
		font-weight: bold;
		color: #2c3e50;
	}

	nav a.router-link-exact-active {
		color: #42b983;
	}
</style>
